*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.main-nav__list{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.main-nav__link{
    font-size: 13px;
    margin-right: 18px;
    color: #000000;   
    font-weight: 400; 
    text-decoration: none;
    cursor: pointer;
}

.main-nav__menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.main-nav__photo {
    border-radius: 50%;
    margin-left: 20px;
}

.main-content {
    margin-top: 150px;
    text-align: center;
}

.main-logo {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-logo__img {
    height: 92px;
    width: 272px;
}

.main-searcher {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-searcher__container {    
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dbdbdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-searcher__input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

.main-searcher__icon {
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: .45;
}

.main-searcher__micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.main-buttons {
    width: 430px;
    margin: 0 auto;
}

.main-buttons__container {
    display: inline-block;
}

.main-buttons__button {
    height: 36px;
    background-color: #f8f8f8;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

.main-footer {
    width: 100%;
    height: 50px;    
    display: grid;
    position: absolute;
    bottom: 0;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;   
}

.main-footer__element {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

.footer-left {
    justify-self: left;
}

.footer-right {
    justify-self: right;
}

.main-footer__link {
    margin: 10px;
    color: #5f6368;
}

.main-buttons__button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #807e7e;
}

.main-searcher__container:hover {
    box-shadow: 0 1px  6px 0 #20212447;
    border-color: #dfe1e500;
}