*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav__list{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.main-nav__link{
    font-size: 0.9rem;
    margin-right: 10px;
    color: #000000;    
}

.main-nav__menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.main-nav__photo {
    border-radius: 50%;
    margin-left: 10px;
}